body {
    font-family: 'Poppins', sans-serif;
}

.text-second {
    color: #3D0A05 !important;
}

.bg-brown {
    background-color: #3D0A05 !important;
}

.bg-first {
    background-color: hsl(228, 100%, 99%);
}

.border-left-brown {
    border-left: #3D0A05 4px solid !important;
}

.border-right-brown {
    border-right: #3D0A05 4px solid !important;
}

.border-brown {
    border: #3D0A05 2px solid !important;
}
